#tter{
    background-color: transparent !important;
}

#tter, #tter .container{
    width: 390px !important;
}

.gares{
    background-color: blue;
}

.horaires0, .horaires2{
    background-color:cornflowerblue ;
}

.horaires1, .horaires3{
    background-color: blue;
}

.whiteText{
    color: white;
}

.whiteBoldText{
    color: white;
    font-weight: bold;
}

.yellowBoldText{
    color: yellow;
    font-weight: bold;
}

.deleted{
    text-decoration: line-through;
}
