#tter{
    background-color: transparent !important;
}

#tter, #tter .container{
    width: 250px;
}

.gares{
    background-color: blue;
}

.horaires0, .horaires2{
    background-color:cornflowerblue ;
}

.horaires1, .horaires3{
    background-color: blue;
}

.greenText{
    color: green;
}

.redText{
    color: red;
    font-weight: bold;
    text-decoration: blink;
}