<div id='tter' class="eqLogic eqLogic-widget allowResize allowReorderCmd " style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
    <link rel="stylesheet" type="text/css" href="plugins/tter/core/template/dashboard/css/tter.css" />
	<script type="text/javascript" src="plugins/tter/core/template/dashboard/scripts/tter.js"></script>
    <span class="cmd refresh pull-right cursor" data-cmd_id="1042" style="margin-top: 2px;margin-right: 2px;">
        <i class="fa fa-refresh"></i>
    </span>
    <center class="widget-name">
        <strong>
            <a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">
                #name_display#
                <span style="font-size: 0.85em;position: relative;top:-2px;">
                    #object_name#
                </span>
            </a>
        </strong>
    </center>
    <div class='container'>
        <div class='row gares'>
            <div class='col-md-6'><center>#depart#</center></div>
            <div class='col-md-6'>#arrivee#</div>
        </div>
        <div class='row horaires0'>
            <div class='col-md-6'><center>#heureDepart0#</center></div>
            <div class='col-md-6'>#heureArrivee0#</div>
            <div class='row retard0'>
                <div class='col-md-12'><center>#retard0#</center></div>
            </div>
        </div>
        <div class='row horaires1'>
            <div class='col-md-6'>#heureDepart1#</div>
            <div class='col-md-6'>#heureArrivee1#</div>
            <div class='row retard0'>
                <div class='col-md-12'>#retard1#</div>
            </div>
        </div>
        <div class='row horaires2'>
            <div class='col-md-6'>#heureDepart2#</div>
            <div class='col-md-6'>#heureArrivee2#</div>
            <div class='row retard0'>
                <div class='col-md-12'>#retard2#</div>
            </div>
        </div>
        <div class='row horaires3'>
            <div class='col-md-6'>#heureDepart3#</div>
            <div class='col-md-6'>#heureArrivee3#</div>
            <div class='row retard0'>
                <div class='col-md-12'>#retard3#</div>
            </div>
        </div>
    </div>    
</div>