<div id='tter' class="eqLogic eqLogic-widget allowResize allowReorderCmd " style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
    <link rel="stylesheet" type="text/css" href="plugins/tter/core/template/dashboard/css/tter.css" />
	<script type="text/javascript" src="plugins/tter/core/template/dashboard/scripts/tter.js"></script>
    <center class="widget-name">
        <strong>
            <a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">
                #name_display#
                <span style="font-size: 0.85em;position: relative;top:-2px;">
                    #object_name#
                </span>
            </a>
        </strong>
    </center>
    <div class='container'>
        <div class='row gares'>
            <div class='col-md-6 mx-auto'>#depart#</div>
            <div class='col-md-6 mx-auto'>#arrivee#</div>
        </div>
        <div class='row horaires0'>
            <div class='col-md-6 mx-auto'>#heureDepart0#</div>
            <div class='col-md-6 mx-auto'>#heureArrivee0#</div>
            <div class='row retard0'>
                <div class='col-md-12 mx-auto'>#retard0#</div>
            </div>
        </div>
        <div class='row horaires1'>
            <div class='col-md-6 mx-auto'>#heureDepart1#</div>
            <div class='col-md-6 mx-auto'>#heureArrivee1#</div>
            <div class='row retard0'>
                <div class='col-md-12 mx-auto'>#retard1#</div>
            </div>
        </div>
        <div class='row horaires2'>
            <div class='col-md-6 mx-auto'>#heureDepart2#</div>
            <div class='col-md-6 mx-auto'>#heureArrivee2#</div>
            <div class='row retard0'>
                <div class='col-md-12 mx-auto'>#retard2#</div>
            </div>
        </div>
        <div class='row horaires3'>
            <div class='col-md-6 mx-auto'>#heureDepart3#</div>
            <div class='col-md-6 mx-auto'>#heureArrivee3#</div>
            <div class='row retard0'>
                <div class='col-md-12 mx-auto'>#retard3#</div>
            </div>
        </div>
    </div>    
</div>